.page-header {
  animation: header 0.8s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.binary:hover .card__cover {
  animation: rotate-out-ver 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
}

.binary__logo {
  animation: bounce-top 0.9s both;
}

.qa:hover .card__cover {
  animation: puff-out-hor 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.java:hover .card__cover {
  animation: puff-out-top 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.js:hover .card__cover {
  animation: puff-out-bottom 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.dotnet:hover .card__cover {
  animation: puff-out-tl 0.9s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

.php:hover .card__cover {
  animation: slit-out-horizontal 0.5s ease-in both;
}

.qa .card__cover span,
.java .card__cover span,
.js .card__cover span,
.dotnet .card__cover span,
.php .card__cover span {
  animation: tracking-in-contract 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.events:hover .card__cover,
.blog:hover .card__cover,
.contacts:hover .card__cover {
  animation: scale-out-hor-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards;
}

/* @keyframes */

@keyframes header {
  from {transform: translateY(calc(0px - var(--header-height)));}
  to {transform: none;}
}

@keyframes rotate-out-ver {
  0% {
    transform: rotateY(360deg);
    opacity: 1;
    z-index: 2;
  }
  100% {
    transform: rotateY(0deg);
    opacity: 0;
    z-index: 0;
  }
}

@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes puff-out-top {
  0% {
    transform: scale(1);
    transform-origin: 50% 0%;
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    transform-origin: 50% 0%;
    filter: blur(4px);
    opacity: 0;
  }
}

@keyframes puff-out-hor {
  0% {
    transform: scaleX(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scaleX(2);
    filter: blur(4px);
    opacity: 0;
  }
}

@keyframes puff-out-bottom {
  0% {
    transform: scale(1);
    transform-origin: 50% 100%;
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    transform-origin: 50% 100%;
    filter: blur(4px);
    opacity: 0;
  }
}

@keyframes puff-out-tl {
  0% {
    transform: scale(1);
    transform-origin: 0% 0%;
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    transform-origin: 0% 0%;
    filter: blur(4px);
    opacity: 0;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes slit-out-horizontal {
  0% {
    transform: translateZ(0) rotateX(0);
    opacity: 1;
  }
  54% {
    transform: translateZ(-160px) rotateX(87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(-800px) rotateX(90deg);
    opacity: 0;
  }
}

@keyframes scale-out-hor-right {
  0% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
