:root {
  --header-height: 60px;
  --text-color: #333333;
  --main-background: #f8f9fc;
  --header-background: #ffffff;
  --profile-color: #ffffff;
  --main-margins: 10vw;
  --border-color: #dddddd;
  --background-success: #76b776;
  --background-warning: #faa045;
  --background-danger: #cc625a;
  --binary-color-blue: #02adee;
  --binary-color-yellow: #ffc713;
  --binary-color-orange: #F7991C;
  --binary-color-red: #ec1748;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.375em;
  border-width: 0.1875em;
  border-style: solid;
}
::-webkit-scrollbar-thumb {
  background-color: var(--binary-color-blue);
  border-color: #dddddd;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--binary-color-blue);
}

.bold {
  font-weight: 700;
}

.rem-12 {
  font-size: 1.2rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: var(--main-background);
  color: var(--text-color);
}

.page-wrap {
  height: calc(100vh - 10px);
  display: grid;
  grid-template-rows: var(--header-height) auto var(--header-height);
}

.page-header {
  grid-row: 1 / 2;
  background-color: var(--header-background);
  position:sticky;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 6px 5px -5px rgba(0,0,0,.1);
  z-index: 100;
}

.page-header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-height);
  margin: 0 var(--main-margins);
}

.page-header .logo svg {
  width: 150px;
}

.page-header .menu {
  display: flex;
  align-items: center;
}

.page-main {
  grid-row: 2 / 3;
  display: flex;
  place-items: center;
  z-index: 10;
}

.page-main .grid-container {
  margin: 0 var(--main-margins);
}

.page-footer {
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer .copyright {
  font-weight: 600;
}

.menu > * {
  margin-left: 20px;
}

.menu__notification,
.menu__profile > span {
  display: inline-block;
  cursor: pointer;
  opacity: 0.7;
}

.menu__notification:hover,
.menu__profile > span:hover {
  opacity: 1;
}

.menu__profile > span {
  background-color: var(--binary-color-orange);
  color: var(--profile-color);
  font-size: 1.5em;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  font-weight: 700;
}

.menu__profile > input {
  position: absolute;
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin: 0;
  opacity: 0;
}

.menu__profile > input:hover + span {
  opacity: 1;
}

.menu__profile > input:checked ~ div.profile__details {
  visibility: visible;
  opacity: 1;
}

.profile__details {
  position:absolute;
  min-width: 200px;
  background: #ffffff;
  top: calc(var(--header-height) - 5px);
  right: var(--main-margins);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,.1);
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.profile__details > span,
.profile__details > a {
  display:block;
}

.profile__details > a:hover {
  background: #eeeeee;
}

.profile__details > a {
  margin-top: 15px;
  text-decoration: none;
  padding: 5px;
  color: var(--text-color);
  font-weight: 500;
  transition: background 0.3s ease;
}

.profile__details > hr {
  border: none;
  height: 1px;
  background-color: var(--border-color);
  color: var(--border-color);
}

.profile__details-name {
  text-align:center;
  color: #757575;
  font-size: 0.9rem;
}

.profile__details-profile:before {
  font-family: "Material Icons";
  content: "person";
  margin-right: 5px;
}

.profile__details-logout:before {
  font-family: "Material Icons";
  content: "logout";
  margin-right: 5px;
}
