:root {
  --fr: calc((100vw - 2 * (var(--main-margins))) / 16);
}

.grid-container {
  display: grid;
  gap: 0px 0px;
  width: 100vw - 2 * (var(--main-margins));
}

.grid-container {
  grid-template-columns: repeat(16, var(--fr));
  grid-template-rows: repeat(8, var(--fr));
  grid-template-areas:
    "binary binary binary binary js js js js php php php php php php php php"
    "binary binary binary binary js js js js php php php php php php php php"
    "binary binary binary binary js js js js php php php php php php php php"
    "binary binary binary binary js js js js dotnet dotnet dotnet dotnet dotnet events events events"
    "qa qa qa qa js js js js dotnet dotnet dotnet dotnet dotnet events events events"
    "qa qa qa qa js js js js dotnet dotnet dotnet dotnet dotnet blog blog blog"
    "qa qa qa qa java java java java dotnet dotnet dotnet dotnet dotnet blog blog blog"
    "qa qa qa qa java java java java dotnet dotnet dotnet dotnet dotnet contacts contacts contacts";
}

.card.binary {
  grid-area: binary;
}

.card.qa {
  grid-area: qa;
}

.card.java {
  grid-area: java;
}

.card.js {
  grid-area: js;
}

.card.dotnet {
  grid-area: dotnet;
}

.card.php {
  grid-area: php;
}

.card.events {
  grid-area: events;
}

.card.blog {
  grid-area: blog;
}

.card.contacts {
  grid-area: contacts;
}

.grid-container > .card {
  cursor: default;
  position: relative;
}

.card__cover,
.card__content {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card__cover {
  z-index: 2;
}

.card__content {
  z-index: 1;
  overflow-y: auto;
  padding: 15px;
  background-color: #ffffff;
}

.binary .card__cover {
  background-color: #ffffff;
}

a.join {
  display: flex;
  width: 40%;
  justify-content: center;
  height: 45px;
  align-items: center;
  color: #ffffff;
  border-radius: 5px;
  min-width: 50px;
  text-transform: capitalize;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--binary-color-blue);
  box-shadow: 5px 5px 5px -5px rgb(0 0 0 / 1);
}

a.join:hover {
  background-color:#5cd0ff;
}

a.join:active {
  background-color: #0270ee;
  box-shadow: none;
  transform: translate(5px, 5px);
}

.binary__logo {
  width: calc(3 * var(--fr));
}

.qa .card__cover {
  background-color: #48b66b;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5vw;
}

.java .card__cover {
  background-color: var(--binary-color-red);
  color: #ffffff;
  text-transform: capitalize;
  font-size: 3vw;
  font-weight: 500;
}

.js .card__cover {
  background-color: var(--binary-color-yellow);
  justify-content: flex-end;
  font-size: 7vw;
  padding: 10px;
  color: #000000;
  align-items: flex-end;
  text-transform: uppercase;
  font-weight: 700;
}

.dotnet .card__cover {
  grid-area: dotnet;
  background-color: #581c6a;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 5vw;
}

.php .card__cover {
  background-color: #787cb5;
  font-size: 5vw;
  color: #000000;
  font-weight: 600;
  font-style: italic;
}

.events .card__cover {
  background-color: var(--binary-color-blue);
}

.blog .card__cover {
  background-color: #013898;
}

.contacts .card__cover {
  background-color: #001f53;
}

.events .card__cover,
.blog .card__cover,
.contacts .card__cover {
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.5vw;
}

.events .card__content,
.blog .card__content {
  display: block;
}

.contacts .card__content {
  padding: 0;
  justify-content: space-around;
  align-items: center;
}

.contacts .card__content a > svg {
  width: 35px;
  fill: #000000;
}

.contacts .card__content a:hover > svg {
  fill: var(--binary-color-blue);
}

@media (min-width: 678px) and (max-width: 960px) {
  .grid-container {
    grid-template-columns: repeat(16, var(--fr));
    grid-template-rows: repeat(7, var(--fr)) calc(3.5 * var(--fr)) calc(3.5 * var(--fr));
    grid-template-areas:
      "binary binary binary binary binary binary binary js js js js js js events events events"
      "binary binary binary binary binary binary binary js js js js js js events events events"
      "binary binary binary binary binary binary binary js js js js js js events events events"
      "binary binary binary binary binary binary binary js js js js js js blog blog blog"
      "binary binary binary binary binary binary binary js js js js js js blog blog blog"
      "binary binary binary binary binary binary binary js js js js js js blog blog blog"
      "binary binary binary binary binary binary binary js js js js js js contacts contacts contacts"
      "java java java java java java java java php php php php php php php php"
      "qa qa qa qa qa qa qa qa dotnet dotnet dotnet dotnet dotnet dotnet dotnet dotnet";
  }

  .binary__logo {
    width: calc(4 * var(--fr));
  }

  .events .card__cover,
  .blog .card__cover,
  .contacts .card__cover {
    font-size: 2vw;
  }

  .contacts .card__content a > svg {
    width: 30px;
  }
}

@media (max-width: 677px) {
  .page-main {
    margin-top: var(--main-margins);
  }

  .grid-container {
    --fr: calc(100vw - 2 * (var(--main-margins)));
    grid-template-columns: var(--fr);
    grid-template-rows: repeat(8, calc(0.5 * var(--fr))) calc(0.25 * var(--fr));
    grid-template-areas:
      "binary"
      "js"
      "java"
      "qa"
      "dotnet"
      "php"
      "events"
      "blog"
      "contacts";
  }

  .card .card__cover {
    justify-content: center;
    align-items: center;
    font-size: 8vw;
  }

  .events .card__cover,
  .blog .card__cover,
  .contacts .card__cover {
    font-size: 4vw;
  }

  .binary__logo {
    width: calc(0.5 * var(--fr));
  }
}
