#notifications {
  position: fixed;
  bottom: 2vw;
  /* top: var(--header-height); */
  right: 2vw;
  width: 20vw;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  z-index: 50;
}

#notifications .notification {
  display: inline-grid;
  grid-template-columns: 20% 80%;
  font-size: 0.875rem;
  border-radius: 4px;
  padding: 1vw 1vw 1vw 0;
  color: #ffffff;
  opacity: 0.9;
}

#notifications .notification:not(:first-child) {
  margin-top: 1vh;
}

.notification__icon {
  grid-column: 1;
  font-family: "Material Icons";
  font-size: 2rem;
  align-self: center;
  justify-self: center;
}

.notification__body {
  grid-column: 2;
}

#notifications .notification.success {
  background-color: var(--background-success);
}

#notifications .notification.warning {
  background-color: var(--background-warning);
}

#notifications .notification.danger {
  background-color: var(--background-danger);
}

.notification__header {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 0.5em;
}

@media (min-width: 678px) and (max-width: 960px) {
  #notifications {
    width: 30vw;
  }
}

@media (max-width: 677px) {
  #notifications {
    width: 50vw;
  }
}
